body{
    background-color: #000000f2;
    /* overflow: hidden; */
}
.nav{
    position: fixed;
    top: 0;
    bottom: 0;
    left: -212.325px;
    z-index: 9999999999;
}
nav{
    display: flex;
}
.logo{
    width: 70px;
}
nav ul{
    overflow: hidden;
    height: 300px;
}
nav li {
    opacity: 0;
    padding-top: 700px;
}
#openNav{
  cursor: pointer;
}
.loading{
    width: 100%;
    background-color: rgba(0, 0, 0 );
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 9999999;
}
.loader {
    color: #ffffff;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  }
  @-webkit-keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @-webkit-keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  


a{
  cursor: pointer;
}
.item{
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.layer{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  bottom: -100%;
  left: 0;
  right: 0;
  background-color: #fff;
  transition: all 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255,255,255,0.7);
}
.item:hover .layer{
  top: 0;
  bottom: 0;
}
#search-container{
  display: none;
  left: 12.5%;
  z-index: 999;
  top: 0;
  padding-top: 50px;
  background-color: #0D0D0D;
}

.form-control{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255,255,255,.7);
  border-radius: 0;
  color: #fff ;
  font-weight: 800;
}

.form-control:focus{
  color: #495057;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255,255,255,.7);
  border-radius: 0;
}

.form-control::placeholder{
font-weight: 400;
font-size: 17px;
text-align: center;
}
#rowData{
  padding-top: 60px;
  padding-bottom: 60px;
}
.component{
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.tags-style{
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.contact{
  display: none;
  /* width: 50%; */
  /* margin: auto; */
}
.contact input{
  box-shadow: 0 .5rem 1rem rgba(255,255,255,.1) !important;
}
.alertName , .alertEmail,.alertPhone,.alertAge, .alertPassword,.alertRePassword{
  display: none;
}
p,h2,h3,h4{
  font-weight: lighter;
}